html {
	min-height:100%;
	height:100%;
}
body {
	min-height:100%;
	height:100%;
}

a, a:hover, a:active, a:focus {
	outline: 0;
}

h1 {
    font-size: 2em;
}

#page-content-wrapper {
	min-height:100%;
	height:100%;
}

.picture {
	min-height:100%;
	height:100%;
}

.image {
	display:block;
	width:100%;
	min-height:100%;
	height:100%;
	position:relative;
}

.picture .image img {
	height:auto;
	max-height:100%;
	max-width:100%;
}

.img-button {
	display:block;
	font-size:35vh;
	width: 44vw;
	height: 100%;
	top:0;
	position:absolute;
	z-index: 9;
	opacity:0.2;
	transition: opacity .5s;
}

.img-button:hover {
	opacity:.9;
}

.img-button a {
	opacity:.9;
	display:block;
	text-decoration:none;
}

.next {
	text-align:right;
	bottom:0;
	right:0;
}

/*.page-header {
	margin: 0px;
	border: 0px;
}

.page-header h1 {
	margin: 0px;
}

//.sidebar-nav {
//	font-variant:small-caps;
//	position: relative;
//	min-height: 100%;
//	height: auto !important;
//	height: 100%;
//	margin: 0 auto -4em;
//	padding: 0 0 4em;
//}
//
*/
.form-group {
	margin-bottom: 0;
	margin-top: 1em;
}
.navbar-brand,
.nav li a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top-separator {
	border-top: 1px solid #222;
}
.navbar-fixed-left footer {
	display:none;
	border-top: 1px solid #FFF;
	height: 2em;
	padding-right:10px !important;
}

.navbar-fixed-left {
	font-variant:small-caps;
	border-radius:0;

	overflow:auto;

	position: fixed;
	top:0;

	z-index: 99999;
	width: 100%;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.navbar-fixed-left .navbar-collapse,
.navbar-fixed-left ul,
.navbar-fixed-left li {
	width:100%;
	margin:0;
	padding:0;
}

.navbar-fixed-left .navbar-nav a {
	padding-top:5px;
	padding-bottom:5px;
}

#page-content-wrapper {
	width: 100%;
	padding: 7px;
	padding-top: 57px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.portfolio-item {
	padding: 3px;
}

ul.navbar-nav ul.navbar-nav {
	padding-left: 1em;
}

.pagination {
	padding-top:0.5em;
	margin:0;
}

.button-with-margin {
	margin-top:1em;
}


#add {
	margin-bottom:1em;
}

/*
#groupList * {
	padding:0;
	margin:0;
}
*/

#groupList {
	width:auto;
}

#groupList th {
	text-align:center;
}

#groupList input[type="text"] {
	width:10em;
}

div.comment {
    background-color: rgba(0, 0, 0, 0.1);
    margin-left : 2em;
}

a.hoverimg {
	position: relative;
	display: block;
}

a.hoverimg img.orignal {
	opacity:1;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a.hoverimg img.hover {
	position: absolute;
	top: 0;
	opacity:0;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a.hoverimg:hover img.hover {
	opacity:1;
}

a.hoverimg:hover img.original {
	opacity:0;
}

img.img-comment {
	height: 5em;
}

@media(min-width:768px) {
	.navbar-fixed-left {
		height: 100%;
		width: 200px;
	}
	#real-nav{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -2em;
		padding: 0 0 2em;
	}

	#page-content-wrapper {
		padding:7px;
		padding-left: 207px;
	}

	.navbar-fixed-left footer {
		display:block;
	}
}










.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}



